<br/>
<div class="jumbotron">
    <h1 class="display-3">Bem-vindo(a) ao ProPlan!</h1>
    <p class="lead">Uma ferramenta criada para facilitar a sua vida!</p>
    <hr class="my-4">
    <p>Com nosso gerenciador de projetos, você pode facilmente criar, monitorar e gerenciar seus projetos em um só lugar. Nossa plataforma permite que você defina metas, atribua tarefas, acompanhe o progresso e muito mais. Além disso, com nossa funcionalidade de colaboração em tempo real, sua equipe pode trabalhar junta, não importa onde esteja.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Saber mais</a>
    </p>
</div>